.gridContainer {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .containerRea {
        position: relative;
        border-radius: 5px;
        .articleThumb img {
            width: 100%;
            height: auto;
            // position: absolute;
            top: 0;
            filter: blur(2px);
            z-index: 1;
        }
        .articleContent {
            text-align: center;
            position: absolute;
            top: 20%;
            background-color: rgba($color: #d4d1d1, $alpha: 0.8);
            border-radius: 5px;
            width: 80%;
            margin: auto;
            left: 0;
            right: 0;
        }
    }
    

}

